.navbar {
  display: flex;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}

.logo {
  font-weight: bold;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}



img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  color: #ddddf7;
  background-color: #5d5b8d;
  font-size: 12px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
